.home__container{
    padding: 50px;
    .home__title{
        font-size: 80px;
    }
    .home__button{
        margin-top: 20px;
        .ant-btn:first-child{
            margin-right: 10px;
        }
    }
}